@charset "UTF-8";

/* ========================================================================== */
/* Common */
html {
    font-size: 10px;
}

html, body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    color: #333;
}

body {
    font-size: 1.5rem;
    background: #F0F0F2;
    transition: background .3s;
    overflow-x: hidden;
    overscroll-behavior: none;
}

::-webkit-scrollbar {display: none;}


/* Common Class */
.blind {
    font-size: 0;
    line-height: 0;
    width: 1px;
    height: 1px;
    line-height: 1px;
    text-align: -9999px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -9999px;
}

.ir-pm {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
}

.ir-wa {
    display: block;
    overflow: hidden;
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.ir-so {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.dp-f {
    display: flex;
    justify-content: flex-start;
}

.dp-f.jcc {
    justify-content: center;
}

.dp-f.jcfe {
    justify-content: flex-end;
}

.dp-f.jcsb {
    justify-content: space-between;
}

.dp-f.jcsa {
    justify-content: space-around;
}

.dp-f.aic {
    align-items: center;
}

.dp-f.aife {
    align-items: flex-end;
}

.dp-f.col {
    flex-direction: column;
}

.dp-f.wrap {
    flex-wrap: wrap;
}

.ta-c {
    text-align: center;
}

.blank40 {
    display: inline-block;
    width: 40px;
}


/* ========================================================================== */
/* Font */
.lusitana {
    font-family: 'Lusitana', serif;
    font-weight: 400;
}

.lusitana.bold {
    font-weight: 700;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.notosans {
    font-family: 'Noto Sans KR', sans-serif;
}

.emoji {
    font-weight: normal !important;
    display: inline-block;
}


.fz28 {font-size: 2.8rem;}
.fz20 {font-size: 2rem;}  /* 20px */
.fz13 {font-size: 1.3rem;}




/* ========================================================================== */
/* Header */
#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    position: absolute;
    top: 20px;
    left: 30px;
}

.logo a {
    display: block;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 3.2rem;
    
}

.logo:after {
    content: '';
    position: absolute;
    bottom: 12px;
    right: -10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #f32942;
    animation: eye infinite 2s;
    mix-blend-mode: difference;

}





/* ========================================================================== */
/* Menu */
#menu {
    position: fixed;
    right: 0;
    top: 0;
    width: 100px;
    height: 100vh;
    z-index: 1000;
}

.menu-wrap {
    width: 100%;
    height: 100%;
}

.hamburger {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4rem;
    height: 4rem;
    cursor: pointer;
}

.hamburger span {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #333;
}

.hamburger span:nth-child(1) {
    top: 1.4rem;
}

.hamburger span:nth-child(2) {
    top: 2.6rem;
}

#menu.open .menu-wrap:after {
    background: #F0F0F2;
}

#menu.open .hamburger span {
    background: #F0F0F2;
}


#gnb {
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(100%, 0);
    opacity: 0;
    width: 360px;
    height: 100vh;
    background: rgba(51, 51, 51, .98);
    backdrop-filter: blur(5px);
    padding: 0 100px 0 0;
    z-index: 1;
}

#gnb ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#gnb ul li + li {
    margin-top: 50px;
}

#gnb ul li a {
    font-family: 'Poppins', sans-serif;
    font-size: 2.4rem;
    color: #F0F0F2;
}

.util {
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translate(-50%, 0);
}

.util a {
    display: block;
    width: 5rem;
    height: 5rem;
    background: no-repeat 50% 50%/80%;
    transform: rotate(-90deg) scale(1);
    opacity: .9;
    border-radius: 50%;
    transition: opacity .3s, transform .4s;
}

.util a:hover {
    transform: rotate(-90deg) scale(1.07);
    opacity: 1;
}

.util a.link-github {
    background-image: url('../img/icon_github_wh.png');
    background-position: 50% 40%;
    margin-bottom: .8em;
}

.util a.link-tistory {
    background-image: url('../img/icon_tistory.png');
}

.util a span {
    display: none;
}

.verti-line {
    position: absolute;
    top: 30px;
    right: 100px;
    width: 1px;
    height: calc(100% - 60px);
    background: #333;
    opacity: .7;
}

.hamburger,
.util,
.verti-line {
    z-index: 10;
}




/* ========================================================================== */
/* Cursor */
.cursor {
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background: #fff;
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    mix-blend-mode: difference;
}

.cursor-bd {
    width: var(--size);
    height: var(--size);
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
    z-index: 1000;
    background-image: url("data:image/svg+xml,%3Csvg width='50' height='50' viewBox='0 0 50 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='25' cy='25' r='23' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
    background-size: cover;
    mix-blend-mode: difference;
    pointer-events: none;

}





/* ========================================================================== */
/* Main */
.wrapper {
    overflow: hidden;
}

.section {
    padding: 8rem 140px 8rem 40px;
}

.section-tit {
    font-size: 7rem;
}

.interact-circle {
    position: absolute;
    /* background: #EEEEF0; */
    border-radius: 50%;
}


.progress-icon {
    position: fixed;
    bottom: 5%;
    left: 10%;
    width: 70px;
    height: 70px;
    z-index: 100;
}

.progress-icon svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
}

.progress-icon svg path {
    fill: transparent;
}

.progress-icon .prog-txt {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../img/icon_arrow.png') no-repeat 50% 50%/ 35%;
    position: relative;
    z-index: 5;
}

.progress-icon .prog-fill-outer {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #333;
    overflow: hidden;
}

.progress-icon .prog-fill {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    height: 0;
    background: #f32942;
}




/* Main - intro */
.section__intro {
    height: 100vh;
    max-height: 1080px;
    min-height: 768px;
}

.section__intro .intro-title {
    position: absolute;
    top: 45%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 5;
    display: flex;
    flex-direction: column;
}

.txt-fill {
    position: relative;
    height: 10rem;
    display: inline-block
}
.txt-fill span {
    display: inline-block; 
    min-width: 2rem;
    height: 10rem;
    font-size: 8rem; 
    line-height: 10rem;
    font-weight: 700;
    color: #414141;
}
.txt-fill .stroke {
    -webkit-text-stroke: 0.5px #333; 
    color: transparent;
}
.txt-fill i {
    position: absolute; 
    left: 0; 
    bottom: 0; 
    height: 0; 
    display: block; 
    width: 100%;
    overflow: hidden;
    animation: fillUp forwards 1s;
}
.txt-fill i .fill {
    position: absolute; 
    left: 0; 
    bottom: 0;
}

@keyframes fillUp {
    0% {height: 0;}
    100% {height: 10rem;}
}

.section__intro .intro-circle {
    top: 65%;
    right: 180px;
    transform: translate(0, -50%);
    width: 250px;
    height: 250px;
    background: #f7f7f7;
    z-index: 5;
}

.section__intro .intro-circle .inner-bg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: url('../img/intro_thumb.jpg') no-repeat 50% 50%/cover;
    filter: grayscale(1);
}


.intro-deco:before,
.intro-deco:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    transform: scale(0.5);
    opacity: 0;
    animation: scaleUp forwards .8s;
}

@keyframes scaleUp {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.intro-deco:before {
    width: 64rem;
    height: 64rem;
    top: 0;
    left: 0;
    background: #ebebeb;
    animation-delay: .4s;
}
.intro-deco:after {
    width: 40rem;
    height: 40rem;
    top: 42%;
    left: 50%;
    background: #e9e9e9;
    animation-delay: .2s;
}


.section__intro .deco-rotate-txt {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%,-50%);
    z-index: 1;
}

.section__intro .deco-rotate-txt:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 82%;
    height: 82%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid rgba(102, 102, 102, .1);
    z-index: 1;
}


.section__intro .deco-scroll {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translate(-20%, -50%) rotate(90deg);
    opacity: .3;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 5px;
}


.section__intro .deco-rotate-txt svg {
    display: block;
    width: 80rem;
    height: 80rem;
}

.section__intro .deco-rotate-txt svg path {
    fill: transparent;
}

.section__intro .deco-rotate-txt svg text {
    transform-origin: 50% 50%;
    animation: rotate 18s linear infinite;
    font-size: 5px;
    letter-spacing: 7px;
    fill: #e1e1e1;
}

@keyframes rotate {
    0% {transform: rotate(0);}
    100% {transform: rotate(-360deg);}
}







/* Main - index */
.section__index .index-greeting {
    width: 40%;
    padding: 0 40px 0 10%;
    position: relative;
}

.section__index .index-circle {
    top: 0;
    left: 0;
    transform: translate(-20%, -5%);
    width: 500px;
    height: 500px;
    opacity: .8;
    background-color: #fff;
}

.section__index .index-greeting,
.section__index .index-list {
    z-index: 10;
}

.section__index .index-greeting p {
    padding: 10px 0;
    font-size: 2rem;
    letter-spacing: 0.3em;
}

.section__index .index-list {
    width: 60%;
}

.section__index .index-list li {
    position: relative;
    padding: 20px 0 10px;
}

.section__index .index-list li a {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 2.8rem;
    font-weight: 600;
    padding-left: 30px;
    transition: color .3s, padding .6s;
}

.section__index .index-list li a:before {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 30px;
    right: 0;
    height: 1px;
    background: #333;
    transition: left .4s, background .4s;
}

.section__index .index-list li a:hover:before {
    left: 50px;
    background: #f32942;
}

.section__index .index-list li a:hover,
.section__index .index-list li a:focus {
    color: #f32942;
    padding-left: 0;
}

.section__index .index-list li a p {
    display: inline-block;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13px;
    font-weight: 300;
    opacity: .5;
    margin-left: 1em;
}

.section__index .index-list li a .icon-arr {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    font-size: 2rem;
    font-weight: 800;
}

.emoji-updown {
    animation: emojiUpDown 1s linear infinite;
}

@keyframes emojiUpDown {
    0% {
        transform: translate(0, 0);
    }

    40% {
        transform: translate(0, -20%);
    }

    60% {
        transform: translate(0, -20%);
    }

    100% {
        transform: translate(0, 0);
    }
}

.emoji-rotate {
    animation: emojiRotate 1s linear infinite;
    transform: rotate(10deg);
    transform-origin: center bottom;
}

@keyframes emojiRotate {
    0% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(10deg);
    }
}

.emoji-scale {
    animation: emojiScale 1s linear infinite;
}

@keyframes emojiScale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.12);
    }

    100% {
        transform: scale(1);
    }
}



/* Main - skills */
.section__skills .section-tit {
    width: 400px;
}

.section-pin {
    overflow: hidden;
    display: flex;
    left: 0;
}

.pin-wrap {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10vw;
}

.skill-list {
    display: flex;
}

.skill-box {
    position: relative;
    width: 80vh;
    height: 80vh;
    max-width: 660px;
    max-height: 660px;
}

.skill-box + .skill-box {
    margin-left: -70px;
}

.skill-box > div {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    background: #F3F3F5;
}

.skill-box:nth-child(even) > div {
    background: #232323;
}

.skill-box .rotate-skill-name {
    display: block;
    width: 80vh;
    height: 80vh;
    max-width: 660px;
    max-height: 660px;
}

.skill-box .rotate-skill-name text {
    transform-origin: 50% 50%;
    animation: rotate 11s linear infinite;
}

.skill-box:nth-child(even) .rotate-skill-name text {
    animation-delay: -3s;
}

.skill-box .rotate-skill-name text .skill-name {
    font-family: 'Poppins', sans-serif;
    font-size: 3.2rem;
    font-weight: 600;
    letter-spacing: .2em;
    fill: #545454;
}

.skill-box:nth-child(even) .rotate-skill-name text .skill-name {
    fill: #F0F0F2;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.skill-box .skill-box-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(80vh - 200px);
    height: calc(80vh - 200px);
    max-width: 400px;
    max-height: 400px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-box .skill-box-inner > * {
    transition: opacity .3s;
}

.skill-box .skill-box-inner .icon-area {
    width: 26vh;
    height: 26vh;
    text-align: center;
}

.skill-box .skill-box-inner .icon-area .skill-icons .swiper-slide {
    width: 26vh;
    height: 26vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-box .skill-box-inner .icon-area img {
    max-width: 100%;
}

.skill-box .skill-box-inner .icon-area img:not(.img-horiz) {
    padding: 30px;
}

.skill-box .skill-box-inner .hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    opacity: 0;
}

.skill-box .skill-box-inner .hover-text p {
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.skill-box .skill-box-inner .hover-text p + p {
    margin-top: 20px;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 2.2;
}

.skill-box .skill-box-inner .hover-text p + p span {
    display: inline-block;
    margin-left: .4em;
}

.skill-desc {
    position: absolute;
    bottom: 0;
    left: 0;
}



/* Main - experience */
.exp-list {
    width: 84%;
    max-width: 1680px;
    margin: 10rem auto;
}

.exp-list * {
    word-break: keep-all;
}

.exp-list > li {
    display: flex;
}

.exp-list > li .exp-summary {
    display: flex;
    width: 40%;
}

.exp-list > li .exp-summary .exp-term {
    width: 37.5%;
    padding-right: 2em;
}

.exp-list > li .exp-summary .exp-desc {
    width: 62.5%;
    padding-right: 2em;
}

.exp-list > li .exp-pofol {
    width: 60%;
}

.exp-list > li .exp-term span {
    padding: 0 15px;
}

.exp-list > li .exp-desc p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: #676767;
    margin-bottom: 40px;
}

.exp-list > li .exp-desc strong {
    display: block;
    margin-bottom: 10px;
}

.exp-list > li .exp-desc .exp-tag span {
    display: inline-block;
    background: #e4e4e4;
    margin: 5px 10px 5px 0;
    padding: 1px 5px;
    border-radius: 2px;
    font-size: 12px;
    color: #313131;
}

.exp-pofol {
    transform: translate(0, -30px);
}

.exp-pofol * {
    font-weight: 300;
}

.exp-pofol > li {
    position: relative;
    min-height: 17em;
    padding: 2em 1.3em;
    border-bottom: 1px solid #676767;
    overflow: hidden;
    transition: padding .4s;
}

.exp-pofol > li .txt-area {
    position: relative;
    z-index: 10;
}

.exp-pofol > li .txt-area strong {
    display: block;
    margin-bottom: 30px;
}

.exp-pofol > li .txt-area strong span {
    position: relative;
    z-index: 5;
    display: inline-block;
    /* border-bottom: 1px solid #f0f0f2; */
    text-decoration: underline;
    text-underline-position: under;
    font-size: 1.3rem;
    margin-right: 20px;
}

.exp-pofol > li .txt-area > p + p {
    margin-top: 10px;
    opacity: .65;
}

.exp-pofol > li .quick-btns {
    display: flex;
    margin-bottom: 30px;
}

.exp-pofol > li .quick-btns li {
    position: relative;
    margin: 0 20px;
}

.exp-pofol > li .quick-btns li:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 32px;
    height: 32px;
    background: #666;
    opacity: .4;
    border-radius: 50%;
    z-index: 1;
}

.exp-pofol > li .quick-btns li a {
    position: relative;
    z-index: 10;
    display: block;
    padding: 10px;
}

.exp-pofol > li .view-more {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate(0, -50%) scale(1);
    z-index: 10;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f2f0;
    color: #131313 !important;
    opacity: .9;
    transition: transform .4s, opacity .4s;
}

.exp-pofol > li .bg-area {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: no-repeat 50% 50%/cover;
    opacity: 0;
    transition: opacity .3s, transform .5s;
}

.exp-pofol > li .bg-area.be03 {
    background-image: url('../img/pofol_img_be03.png');
}

.exp-pofol > li .bg-area.be02 {
    background-image: url('../img/pofol_img_be02.png');
}

.exp-pofol > li .bg-area.ptl01 {
    background-image: url('../img/pofol_img_ptl01.png');
}


.exp-pofol > li:hover .view-more {
    transform: translate(0, -50%) scale(1.2);
    opacity: 1;
}


.exp-pofol > li:hover .bg-area {
    opacity: 0.1;
    transform: scale(1.05);
}


/* Main - about */
.section__about {
    margin-bottom: 14rem;
}
.section__about .about-box {
    position: relative;
    height: 85vh;
    min-height: 800px;
    background: rgba(180, 180, 180, 0.1);
}

.about-box .section-tit {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-box .section-tit:before {
    position: absolute;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background: rgba(255,255,255,.5);
}

.about-box .section-tit span {
    position: relative;
    z-index: 5;
}

.about-things li {
    position: absolute;
    text-align: center;
    line-height: 1.8;
}

.about-things li div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #000;
}

.about-things li span {
    position: relative;
    display: block;
    z-index: 5;
    background: #f9f9f9;
    padding: 0 7px;
    word-break: keep-all;
}


/* Main - contact */
.section__contact h2 {
    font-size: 3.6rem;
    margin: 1rem 3rem;
}
.section__contact p {
    font-family: 'Poppins', sans-serif;
    font-size: 2.6rem;
    font-weight: 300;
    margin: 1rem 3rem;
}






/* ========================================================================== */
/* Footer */
footer {
    padding: 40px 140px 40px 40px;
    font-family: 'Poppins', serif;
    font-size: 2rem;
}

footer .container {
    padding: 30px 10px 0;
    border-top: 1px solid #ccc;
}

footer .copyright span {
    font-family: 'Lusitana', serif;
    font-weight: 700;
}





/* ========================================================================== */
/* Mediaquery */

@media screen and (max-width: 1680px) {

    /* main - intro */
    .txt-fill {height: 9rem;}
    .txt-fill span {
        height: 9rem;
        font-size: 7rem; 
        line-height: 9rem;
    }
    @keyframes fillUp {
        0% {height: 0;}
        100% {height: 9rem;}
    }

    /* main - experience */
    .exp-list {
        width: 92%;
    }

}


@media screen and (max-width: 1440px) {

    /* font size */
    html {font-size: 9.4px;}

    /* gnb */
    #menu {width: 80px;}
    .verti-line {right: 80px;}

    /* main */
    .section {
        padding: 8rem 120px 8rem 40px;
    }

    /* main - intro */
    .section__intro .intro-circle {
        right: 120px;
        width: 220px;
        height: 220px;
    }
    .section__intro .deco-rotate-txt svg {
        width: 70rem;
        height: 70rem;
    }

    /* main - index */
    .section__index .index-list li a p {
        font-size: 12px;
    }

    /* main - experience */
    .exp-list > li .exp-summary {
        display: block;
        width: 35%;
    }
    .exp-list > li .exp-summary .exp-term {width: 94%;}
    .exp-list > li .exp-summary .exp-desc {width: 94%;}

    .exp-list > li .exp-pofol {width: 65%;}
    .exp-pofol > li {padding: 2em 7rem 2em 1.3em;}
    .exp-pofol > li .view-more {
        right: .5rem;
        width: 5rem;
        height: 90%;
        border-radius: 5px;
    }

}



@media screen and (max-width: 1280px) {
    
    /* main - intro */
    .intro-deco:before {
        width: 50rem;
        height: 50rem;
    }

    .intro-deco:after {
        width: 30rem;
        height: 30rem;
    }


    /* main -index */
    .section__index .index-greeting {
        padding: 0 10px 0 30px;
    }

    /* main - experience */
    .exp-list {
        width: 96%;
    }




}


@media screen and (max-width: 1024px) {
    
    /* main - intro */
    .intro-deco:after {
        display: none;
    }
    .section__intro .intro-circle {
        top: 70%;
    }

    .txt-fill {height: 8rem;}
    .txt-fill span {
        height: 8rem;
        font-size: 6rem; 
        line-height: 8rem;
    }
    @keyframes fillUp {
        0% {height: 0;}
        100% {height: 8rem;}
    }


    /* main - index */
    .section.section__index {padding: 0 120px 0 40px;}
    .section__index .container.dp-f {display: block;}

    .section__index .index-greeting {
        width: 90%;
        margin: 0 0 60px auto;
    }
    .section__index .index-list {
        width: 90%;
        margin: 0 0 0 auto;
    }

    
    /* main - experience */
    .exp-list {margin: 10rem auto 0;}
    .exp-list > li {padding-bottom: 6rem;}


}



@media screen and (max-width: 480px) {

    html {font-size: 8px;}


}